---
import BaseLayout from './BaseLayout.astro'
import Header from '@/components/Header.astro'
import Hero from '@/components/Hero.astro'
import Services from '@/components/Services.astro'
import Benefits from '@/components/Benefits.astro'
import Security from '@/components/Security.astro'
import CTA from '@/components/CTA.astro'
import Footer from '@/components/Footer.astro'
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Services />
    <Benefits />
    <Security />
    <CTA />
  </main>
  <Footer />
</BaseLayout>
